<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('../partial/userheader.ejs') %>
    </header>

    <section class="py-5 ">
        <div class="container mx-auto px-4 ">
            <h2 class="text-xl font-semibold mb-4">Cart</h2>
            <!-- Check if the user has cart items -->
            <% if (user.shoppingCart.items.length> 0) { %>
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
                    <% user.shoppingCart.items.forEach(function(cartItem) { %>
                        <li class="flex border rounded-lg p-4 bg-white">
                            <!-- Product Image (Left Side) -->
                            <div class="md:w-1/2">
                                <img src="/<%= cartItem.productId.imageUrl[3] %>" alt="Product Image"
                                    class="w-20 rounded-lg shadow-md">
                            </div>


                            <!-- Product Details (Right Side) -->
                            <div class="md:w-full md:pl-4 ">
                                <h3 class="text-lg font-semibold mb-2">
                                    <%= cartItem.productId.name %>
                                </h3>
                                <p class="text-gray-600 mb-2">
                                    <%= cartItem.productId.description %>
                                </p>
                                <p class="text-blue-700 font-semibold" data-price="<%= cartItem.productId.price %>">
                                    Price: <%= new Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'INR' ,
                                        }).format(cartItem.productId.price) %>
                                </p>

                                <p class="text-gray-700">
                                <div class="flex justify-center w-1/5">
                                    <% if (cartItem.quantity==1) { %>
                                        <button>
                                            <svg class="fill-current  text-gray-600 w-3" viewBox="0 0 448 512">
                                                <path
                                                    d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                                            </svg>
                                        </button>
                                        <% } else { %>
                                            <button id="decrementButton" data-user-id="<%= user._id %>"
                                                data-product-id="<%= cartItem.productId._id %>">

                                                <svg class="fill-current  text-gray-600 w-3" viewBox="0 0 448 512">
                                                    <path
                                                        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                                                </svg>

                                            </button>
                                            <% } %>
                                                <input class="mx-2 border text-center  w-8 idclass" type="button"
                                                    id="quantity_<%= cartItem.productId._id %>"
                                                    value="<%= cartItem.quantity %>">

                                                <button data-value="<%= cartItem.quantity %>" id="incrementButton"
                                                    data-value="<%= cartItem.quantity %>">
                                                    <a data-user-id="<%= user._id %>"
                                                        data-product-id="<%= cartItem.productId._id %>"
                                                        class="addToCartLink">
                                                        <svg class="fill-current text-gray-600 w-3"
                                                            viewBox="0 0 448 512">
                                                            <path
                                                                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                                                        </svg>
                                                    </a>
                                                </button>
                                </div>
                                </p>
                            </div>
                            <a href="/deleteProductCart/<%= user._id %>/<%= cartItem.productId._id %>">
                                <button type="button"
                                    class="focus:outline-none h-10 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Remove</button>
                            </a>

                        </li>
                        <% }); %>
                </ul>


        </div>



        <div class="md:w-1/2 md:pl-4 mt-5 bg-white md:order-first">
            <!-- Price Details -->
            <div class="border rounded-lg p-4 mb-4">
                <h3 class="text-lg font-semibold mb-2">Price Details</h3>
                <hr>
                <p class="text-gray-600">Total Price: <span>
                        <%= FormatedtotalPrice %>
                    </span>
                </p>
                <p data-discount="<%=formattedDiscount %>" class="text-gray-600">Discount: <%=formattedDiscount %>
                </p>
                <p class="text-gray-600">Delivery Charge: <del class="text-gray-500 ml-2">₹40</del> <span
                        class="text-green-600">Free</span></p>
                <hr class="my-2">
                <p data-finaltotal="<%=formattedFinalTotal %>" class="text-blue-700 font-semibold">Total Amount:
                    <%=formattedFinalTotal %>
                </p>
                <hr class="my-2">
                <p data-save="<%=formattedDiscount %>" class="text-green-600">You will save <%=formattedDiscount %> on
                        this order</p>
                <div class="flex justify-end">
                    <a href="/checkout">
                        <button type="button"
                            class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            CHECKOUT</button>
                    </a>
                </div>
            </div>
        </div>

        <% } else { %>

            <div class="flex-col justify-center text-center">
                <div class="center-image w-1/4">
                    <img style="margin-left: 29rem;"
                        src="/uploads/d438a32e-765a-4d8b-b4a6-520b560971e8-removebg-preview.png" alt="">
                </div>
                <p>Your cart is empty.</p>
                <p class="text-xs">Add items to it now.</p>
                <div class="mt-3">
                    <a href="/home">
                        <button type="button"
                            class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Shop now</button>
                    </a>
                </div>
            </div>

            <% } %>


    </section>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const decrementButtons = document.querySelectorAll('#decrementButton');

        decrementButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const userId = button.getAttribute('data-user-id');
                const productId = button.getAttribute('data-product-id');

                const parentLi = button.closest('li'); 
                const priceElement = parentLi.querySelector('p[data-price]');

                const inputElement = document.getElementById(`quantity_${productId}`);
                const quantity = parseInt(inputElement.value)
                const totalSpan = document.querySelector('.text-gray-600 span');
                const price = parseFloat(priceElement.getAttribute('data-price'));
                const toatalprice = totalSpan.textContent
                const formatedTotalprice = parseFloat(toatalprice.replace(/[^0-9.-]+/g, ''))
                const totalPrice = formatedTotalprice - price
                const formattedTotalPrice = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(totalPrice);

                const discountElement = document.querySelector('p[data-discount]');
                const formattedDiscount = discountElement.getAttribute('data-discount');
                const finallDiscount = formattedDiscount.replace(/[^0-9.-]+/g, '')

                const discountAmount = (totalPrice * 12) / 100;
                const formateddiscountAmount = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(discountAmount);

                const pElement = document.querySelector('p[data-finaltotal]');
                const datafinaltotal = pElement.getAttribute('data-finaltotal');
                const Datafinaltotal = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(totalPrice - discountAmount);

                const saveElement = document.querySelector('p[data-save]');




                const newValue = quantity - 1


                console.log(`it is ${newValue}`)

                if (inputElement) {
                    inputElement.value = newValue
                    totalSpan.textContent = formattedTotalPrice
                    discountElement.textContent = `Discount: ${formateddiscountAmount}`;
                    pElement.textContent = `Total Amount: ${Datafinaltotal}`
                    saveElement.textContent = `You will save ${formateddiscountAmount} on this order`;
                }








                fetch(`/decreaseQuantity/${userId}/${productId}`, { method: 'GET' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const contentType = response.headers.get('content-type');
                        if (contentType && contentType.includes('application/json')) {
                            return response.json();
                        } else {
                            // Handle non-JSON response, for example, you can return response text
                            return response.text();
                        }
                    })
                    .then(data => {
                        // Handle the response data as needed
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });
    });

</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addToCartLinks = document.querySelectorAll('.addToCartLink');

        addToCartLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                const userId = link.getAttribute('data-user-id');
                const productId = link.getAttribute('data-product-id');

                const incrementButton = document.getElementById('incrementButton');

                const inputElement = document.getElementById(`quantity_${productId}`);
                const quantity = parseInt(inputElement.value)
                const totalSpan = document.querySelector('.text-gray-600 span');
                const parentLi = link.closest('li'); // Assuming priceElement is within an <li>
                const priceElement = parentLi.querySelector('p[data-price]');
                const price = parseFloat(priceElement.getAttribute('data-price'));
                const toatalprice = totalSpan.textContent
                console.log('toatalprice', price);
                const formatedTotalprice = parseFloat(toatalprice.replace(/[^0-9.-]+/g, ''))
                const totalPrice = formatedTotalprice + price
                const formattedTotalPrice = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(totalPrice);

                const discountElement = document.querySelector('p[data-discount]');
                const formattedDiscount = discountElement.getAttribute('data-discount');
                const finallDiscount = formattedDiscount.replace(/[^0-9.-]+/g, '')

                const discountAmount = (totalPrice * 12) / 100;
                const formateddiscountAmount = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(discountAmount);

                const pElement = document.querySelector('p[data-finaltotal]');
                const datafinaltotal = pElement.getAttribute('data-finaltotal');
                const Datafinaltotal = new Intl.NumberFormat('en-IN', {
                    style: 'currency',
                    currency: 'INR'
                }).format(totalPrice - discountAmount);

                const saveElement = document.querySelector('p[data-save]');




                const newValue = quantity + 1


                console.log(`it is ${formattedTotalPrice}`)

                if (inputElement) {
                    inputElement.value = newValue
                    totalSpan.textContent = formattedTotalPrice
                    discountElement.textContent = `Discount: ${formateddiscountAmount}`;
                    pElement.textContent = `Total Amount: ${Datafinaltotal}`
                    saveElement.textContent = `You will save ${formateddiscountAmount} on this order`;
                }

                console.log('Quantity:', newValue);

                fetch(`/addtocart/${userId}/${productId}`, { method: 'GET' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const contentType = response.headers.get('content-type');
                        if (contentType && contentType.includes('application/json')) {
                            return response.json();
                        } else {
                            return response.text();
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });
    }); 
</script>
<script src="/javascript/searchquery.js"></script>
<script src="/javascript/cart.js"></script>


<% if (user) { %>
    <script>
        // Set the global user variable with the user's _id

        var user = {
            _id: '<%= user._id %>'
        };

    </script>

    <% } %>



</html>