<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
    <link rel="stylesheet" href="/stylesheet/cards1.css">
    <title>View all</title>
    <style>
        .truncate-text {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<header>
    <%- include('../partial/userheader.ejs') %>
</header>

<body class="bg-gray-200 ">

    <div class="container mx-auto p-4 flex flex-col sm:flex-row">
        <!-- Filter options on the left side -->
        <div class="w-full sm:w-1/4 p-4 bg-white rounded-lg shadow-md mb-4 sm:mr-4">
            <div class="flex flex-row mb-2">
                <label for="priceFilter" class="text-gray-600 mr-2">Price:</label>
                <% console.log('sortOption',sortOption); %>
                    <select id="priceFilter" onchange="filterProducts()" class="border rounded-md py-1 px-2">
                        <option value="default">Default</option>
                        <option value="lowToHigh">Price: Low to High</option>
                        <option value="highToLow">Price: High to Low</option>
                    </select>
            </div>

            <div class="flex flex-col space-y-2">
                <label class="text-gray-600 mb-2">Filter by Attributes:</label>

                <!-- Internal Storage Dropdown -->
                <div class="relative inline-block text-gray-700">
                    <select id="storageFilter" onchange="filterProducts(this)"
                        class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                        <option value="all">Internal Storage</option>
                        <% trimmedStorage.forEach(function(option) { %>
                            <option value="<%= option %>">
                                <%= option.toUpperCase() %>
                            </option>
                            <% }); %>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M9.293 11.293a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414l-4.293-4.293a1 1 0 00-1.414 0l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0z" />
                        </svg>
                    </div>
                </div>

                <!-- Camera Dropdown -->
                <div class="relative inline-block text-gray-700">
                    <select id="cameraFilter" onchange="filterProducts(this)"
                        class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                        <option value="all">Camera</option>
                        <% trimmedcamera.forEach(function(option) { %>
                            <option value="<%= option %>">
                                <%= option.toUpperCase() %>MP
                            </option>
                            <% }); %>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M9.293 11.293a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414l-4.293-4.293a1 1 0 00-1.414 0l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0z" />
                        </svg>
                    </div>
                </div>

                <!-- Brands Dropdown -->
                <div class="relative inline-block text-gray-700">
                    <select id="brandFilter" onchange="filterProducts(this)"
                        class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                        <option value="all">Brands</option>
                        <% trimmedUniqueBrands.forEach(function(brand) { %>
                            <option value="<%= brand %>">
                                <%= brand %>
                            </option>
                            <% }); %>
                    </select>

                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M9.293 11.293a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414l-4.293-4.293a1 1 0 00-1.414 0l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0z" />
                        </svg>
                    </div>
                </div>
            </div>

        </div>
        <section class="">
            <h1 id="bestof" data-bestof="<%= products[0].category %>" class="text-3xl font-semibold mb-4 mt-5">Best of
                <%= products[0].category %>
            </h1>

            <div id="product-carousel"
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">
                <% products.forEach(function(product, index) { %>
                    <!-- Product card template -->
                    <div class="w-full p-4 relative">
                        <div class="relative max-w-xs overflow-hidden rounded-lg bg-white shadow-md">
                            <a
                                href="<%= user ? 'userssingleproduct?id=' + product.id + '&userId=' + user.id : 'userssingleproduct?id=' + product.id %>">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="<%= product.imageUrl[3] %>"
                                    alt="<%= product.name %>" style="object-fit: cover; object-position: center;" />
                            </a>
                            <a href="#" title="Add to Wishlist" id="wishlistIcon_<%= product.id %>"
                                data-product-id="<%= product.id %>" class="absolute top-2 right-2">
                                <div class="w-10 h-10 bg-white rounded-full flex justify-center items-center">
                                    <img class="w-6" src="https://cdn-icons-png.flaticon.com/128/4032/4032576.png"
                                        alt="w">
                                </div>
                            </a>
                            <div class="mt-4 px-5 pb-5">
                                <a href="#">
                                    <h5 class="text-xl truncate-text font-semibold tracking-tight text-slate-900">
                                        <%= product.name %>
                                    </h5>
                                </a>
                                <div class="mt-2.5 mb-5 flex items-center">
                                    <% if(product.count>=1){ %>
                                        <span class="mr-2 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">
                                            <%= '5' %>
                                        </span>
                                        <% }else{ %>
                                            <span
                                                class="mr-2 rounded bg-gray-500 px-2.5 py-0.5 text-xs text-white font-semibold">
                                                Out of stock
                                            </span>
                                            <% } %>
                                </div>
                                <div class="flex items-center justify-between">
                                    <p>
                                        <span class="text-3xl font-bold text-slate-900">
                                            <%= new Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'INR'
                                                }).format(product.price) %>
                                        </span>
                                        <!-- Add discount price if applicable -->
                                        <% if (product.discountedPrice) { %>
                                            <span class="text-sm text-slate-900 line-through">₹<%=
                                                    product.discountedPrice %></span>
                                            <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (index % 9===8) { %>
            </div>
            <div class="flex justify-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px text-sm">
                        <li>
                            <% if (currentPage> 1) { %>
                                <a href="/viewall?category=<%= products[0].category %>&page=<%= currentPage - 1 %>&perPage=<%= perPage %>"
                                    class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                <% }else{ %>
                                    <a href="#"
                                        class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                    <% } %>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                        </li>
                        <li>
                            <a href="#" aria-current="page"
                                class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                        </li>
                        <li>
                            <% if (currentPage < totalPages) { %>
                                <a href="/viewall?category=<%= products[0].category %>&page=<%= currentPage + 1 %>&perPage=<%= perPage %>"
                                    class=" pagination-link flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                <% } %>
                        </li>
                    </ul>
                </nav>
                <div id="product-carousel"
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">
                    <% } %>
                        <% }); %>
                </div>
            </div>
            <input type="hidden" id="Hiddenn" name="fieldName" value="<%= sortOption %>">
        </section>
        </div>
        

        
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<% if (user) { %>
    <script>
        // Set the global user variable with the user's _id

        var user = {
            _id: '<%= user._id %>'
        };
    </script>

    <% } %>

        <script>

            function filterProducts() {
                const selectedSort = document.getElementById("priceFilter").value;
                const selectedStorage = document.getElementById("storageFilter").value;
                const selectedCamera = document.getElementById("cameraFilter").value;
                const category = document.getElementById('bestof').getAttribute('data-bestof')
                const selectedBrand = document.getElementById('brandFilter').value
                const sortvalue = document.getElementById('Hiddenn').value
                console.log('selectedSort', selectedSort);
                localStorage.setItem('priceFilterValue', selectedSort);

                let url = `/viewall?category=${category}&sort=${selectedSort}`;

                if (selectedBrand !== 'all') {
                    url += `&brand=${selectedBrand}`;
                }

                if (selectedStorage !== 'all') {
                    url += `&storage=${selectedStorage}`;
                }

                if (selectedCamera !== 'all') {
                    url += `&camera=${selectedCamera}`;
                }

                window.location.href = url;
            }
            window.onload = function () {
                const storedValue = localStorage.getItem('priceFilterValue');

                if (storedValue) {
                    console.log('window.onload',storedValue);
                    document.getElementById("priceFilter").value = storedValue;
                }
            };
        </script>

        <script>
            function addToWishlist(productId) {
                fetch('/addwishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ productId: productId }),
                })
                    .then((response) => {
                        if (response.status === 200) {
                            // Product was added to the wishlist
                            Toastify({
                                text: 'Added to Wishlist!',
                                duration: 3000,
                                gravity: 'bottom',
                                position: 'center',
                                backgroundColor: 'green',
                            }).showToast();
                        } else if (response.status === 409) {
                            // Product already exists in the wishlist
                            Toastify({
                                text: 'Removed from Wishlist',
                                duration: 3000,
                                gravity: 'bottom',
                                position: 'center',
                                backgroundColor: 'red',
                            }).showToast();
                        } else {
                            // Failed to add to wishlist
                            Toastify({
                                text: 'Failed to add to Wishlist',
                                duration: 3000,
                                gravity: 'bottom',
                                position: 'center',
                                backgroundColor: 'rorange',
                            }).showToast();
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }

            document.querySelectorAll('[id^="wishlistIcon_"]').forEach((element) => {
                element.addEventListener('click', function () {
                    const productId = this.getAttribute('data-product-id');
                    addToWishlist(productId);
                });
            });

        </script>

</html>